<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="stylesheet" href="/stylesheets/application.css"/>
  </head>

  <body>
    
    <div id="todo">
      
      <ul data-list>
        
      </ul>

      <button data-add>+</button>

      <input data-new-title>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>